<p>
  <strong>Tag:</strong>
  <%= @meme.tag %>
      <%= session["punch_index"] %>

  <ul id="punches">
  	<% sorted_punches = @meme.punches_sorted_by_score %>
	<% sorted_punches.each.with_index(1) do |punch, i| %>
	<%= render partial: punch, locals: {index: i} %>
	<% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', memes_path %>
