<% if current_user.has_auth?(provider) %>
  <p class="navbar-text"><%= fa_icon "check-circle" %></i>
  <%= provider.to_s.capitalize %>:
  <%= "@" if provider == :twitter and displayname == :nickname %><%= current_user.auth_field(provider, displayname) %></p>
<% else %>
  <p class="navbar-text">
  <%= link_to "Add #{provider.to_s.capitalize}", user_omniauth_authorize_path(:facebook), id: "sign_in", class: "navbar-link" %></p>
<% end %>
